<br>
<div class="row" ng-if="vm.tabData.count <= 0">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Info!</h4> There is no facility registered.
        </div>
    </div>
</div>
<div class="box box-default" ng-if="vm.tabData.count>0">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-globe text-blue"></i> Location information</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="row" ng-if="vm.tabData.count>1">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <select name="location" ng-change="vm.renderMap(vm.selectedLocation)" class="form-control" id="location" ng-model="vm.selectedLocation" ng-options="location as (location.address1 +' ('+ location.type+')') for location in vm.tabData.location">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-primary nga-default nga-stagger-slow nga-collapse" ng-if="vm.selectedLocation">
                            <div class="box-header">
                                <h3 class="box-title pull-left"><i class="fa fa-building text-blue"></i>
                                        {{vm.selectedLocation.type}}
                                    </h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt class="text-left">Address 1</dt>
                                    <dd class="text-left">{{vm.selectedLocation.address1}}</dd>
                                    <dt class="text-left" ng-if="vm.selectedLocation.address2 && vm.selectedLocation.address2 != 'null'">Address 2</dt>
                                    <dd class="text-left" ng-if="vm.selectedLocation.address2 && vm.selectedLocation.address2 != 'null'">{{vm.selectedLocation.address2}}</dd>
                                    <dt class="text-left">City</dt>
                                    <dd class="text-left">{{vm.selectedLocation.city}}</dd>
                                    <dt class="text-left">County</dt>
                                    <dd class="text-left">{{vm.selectedLocation.countyName}}</dd>
                                    <dt class="text-left">State</dt>
                                    <dd class="text-left">{{vm.selectedLocation.state}}</dd>
                                    <dt class="text-left">Phone</dt>
                                    <dd class="text-left">{{vm.selectedLocation.phone}}</dd>
                                    <dt class="text-left">Zip</dt>
                                    <dd class="text-left">{{vm.selectedLocation.zip}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title pull-left"><i class="fa fa-map-marker text-red"></i> Map</h3>
                    </div>
                    <div class="box-body no-padding">
                        <div id="map-canvas" style="height:350px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" ng-if="vm.tabData.count>0">
    <h3 class="text-primary text-bold"></h3>
</div> -->
